.skeleton {

  --_bg: var(--gray-100);
  --_bg-active: color-mix(in srgb, var(--gray-100) 50%, transparent);
  background: var(--_bg);
  animation: skeleton-loading 1s ease-in-out infinite;
  border-radius: 0.5rem;

  @keyframes skeleton-loading {
    50% {
      background: var(--_bg-active);
    }
  }
}

html[data-theme="dark"] {

  .skeleton {
    --_bg: var(--gray-800);
    --_bg-active: var(--gray-900);
  }
}

